
    <div class="faces">
      
      <div class="jumbotron section first-hero" id="first-hero-faces">
        <h1>Faces of our Members</h1>
      </div>
      
      <div class="container-wrapper">
      <div class="jumbotron section container">
        <h2 class="title">Meet our riders:</h2>
        <hr align="center">
        
        <h3>Shephard Eugene L. Milligan</h3>
        <iframe width="75%" height="415" src="https://www.youtube.com/embed/mMgfM5qYmdc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <h3>Vicki Sweeney</h3>
        <iframe width="75%" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNMemphis%2Fvideos%2F1880683528622700%2F&width=550&show_text=false&height=982&appId" width="550" height="982" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
        
        
        <h2 class="title">Meet our drivers:</h2>
        <hr align="center">
        
        <h3>Tonya Anderson</h3>
        <iframe width="75%" height="415" src="https://www.youtube.com/embed/YeC4cz8Tm58" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <h3>Joe Thweatt</h3>
        <iframe width="75%" height="415" src="https://www.youtube.com/embed/b427NazEdgw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      
        <p class="end-note">For more videos, check out <a href="http://www.youtube.com/itnamerica">ITN<em>America</em>'s YouTube channel.</a> </p>
      </div><!--container-->
      
    </div><!--container-wrapper-->
    </div><!--faces-->
    