
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnmemphis/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img ng-src={{assetsPath}}/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnmemphis/">Pressroom Blog</a></li>
            </ul>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img ng-src={{assetsPath}}/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp"><a ng-click="redirectToURL(assetsPath + '/images/docs/newsletter/May_2014.pdf')">On the Road Vote for ITNMemphis Today! May 2014</a></li>
            <li class="wow fadeInUp"><a ng-click="redirectToURL(assetsPath + '/images/docs/newsletter/Dec_2013.pdf')">On the Road, Last Chance! December 2013</a></li>
            <li class="wow fadeInUp" data-wow-delay=".3s"><a ui-sref="newsletters">On the Road, February 2013</a></li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>